* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #6a00ff;
  --black: #282a36;
  --blackLighter: #44475a;
  --grayLight: #f8f8f2;
  --grayMedium: #e5e5e5; 
  --white: #ffffff;
  --frontEnd: #6272a4;
  --backEnd: #ff79c6;
  --purple: #bd93f9;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 